.app{
    height: 100vh;

      
    }
        
    body {
      font-family: 'Source Code Pro', monospace;
      justify-content: center;
   }
   .navbar{
       background-color: #273036;
   }
   
/********** info section  */


.header-waper{
  position:relative ;
  background: url(ezgif.com-video-to-gif.gif) no-repeat;
  background-size: cover ;
  background-position: center;
  height: 90vh;

}
.intro{
  display: flex;
  position:absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro h1{
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

/* typed text */

.typed-text{
  font-size: 2rem;
  color: white;
 
}

/* ****** into button */

.btm-main-offer{
border: 1px solid rgb(43, 115, 156) ;
font-weight: bold ;
border-radius: 0;
padding: 0.625rem 0.75rem 0.75rem 0.75rem ;
color: black;
background: white;
border-radius: 15px;
margin: 2rem;
opacity: 50px;


}